@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

/* Background image retrieved from http://www.travelaroundusa.com/kings-canyon-national-park-ca.html */

body {
  background-image: url('background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.postIt {
  text-align: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #2374AB;
}

.postIt--Editing{
  border: solid;
  border-width: 3px;
  border-color: #2B84D1;
}

.postIt__Text {
  width: 100%;
  color: white;
  font-family: Roboto;
  font-size: 16pt;
  font-weight: 400;
  font-style: italic;
  display: inline-flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.postIt:hover {
  cursor: grab;
}

.postIt:hover .postIt__editButton {
  display: inline-block;
  transition: opacity 1s ease-out;
}

.postIt--Editing:hover {
  cursor: grab;
}

.postIt--Editing:hover .postIt__editButton {
  display: inline-block;
}

.postIt__Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.postIt {
  text-align: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #2374AB;
}

.postIt__TextArea {
  width: 80%;
  height: 80%;
  padding-top: 35px;
  padding-left: 0;
  background-color: transparent;
  border: none;
  resize: none;
  border-color: transparent;
  font-family: arial;
  font-size: 11pt;
  font-weight: 300;
  color: white;
  text-align: center;
  outline: none;
}

.postIt__editButton {
  position: relative;
  display: none;
  top: -30px;
  animation: fadeInButton 0.2s ease-out;
  border-radius: 10%;
  outline: none;
  border: none;
  width: 50px;
  height: 22px;
  color: #2374AB;
  background-color: white;
}

.postIt__deleteButton {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  top: -30px;
  animation: fadeInButton 0.2s ease-out;
  border-radius: 10%;
  outline: none;
  border: none;
  width: 50px;
  height: 22px;
  color: white;
  background-color:#FF8484;
}

.postIt__saveButton {
  position: relative;
  display: inline-block;
  top: -30px;
  margin-right: 5px;
  animation: fadeInButton 0.2s ease-out;
  border-radius: 10%;
  outline: none;
  border: none;
  width: 50px;
  height: 22px;
  color: #2374AB;
  background-color: white;
}

@keyframes fadeInButton {
  from {opacity: 0;}
  to   {opacity: 1;}
}
